<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    </header>

    <main>
        <p>this website helps you to find your favorite tv shows and find details about it in details. also it validates if you are not writing anything in the input box of search input area it will throw an error</p>
        {{{body}}}
    </main>
</body>
</html>