.myClassOne {
    color: red;
}

.myClassTwo {
    color: blue;
}

.error {
    color: red;
    font-weight: bold;
}

button {
    border-radius: 15px;
}
.is-prime {
    color: #00e676;
}
.not-prime {
    color: #ff3d00;
}
footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
